@{
    ViewData["Title"] = "Lista";
    Layout = "_LayoutAlergias";
}
@model AlergiaModel;
<div class="container">
    <div class="table-responsive-sm">
        <h1>Lista de Alergias</h1>
        <table class="table table-bordered table-hover table-condensed" id="table">
            <thead>
                <tr id="table">
                    <th id="table">Cedula</th>
                    <th id="table">Paciente</th>
                    <th id="table">Doctor</th>
                    <th id="table">Alergia</th>
                    <th id="table">Medicamento</th>
                    <th id="table">Fecha</th>
                    <th id="table">Actualizar vacuna</th>
                    <th id="table">Eliminar vacuna</th>
                </tr>
            </thead>
            @foreach (AlergiaModel tem in ViewBag.Lista)
            {
                <tbody>
                    <tr id="table">
                        <td id="table">@tem.paciente.cedula</td>
                        <td id="table">@tem.paciente.nombre</td>
                        <td id="table">@tem.medico.nombre</td>
                        <td id="table">@tem.nombre</td>
                        <td id="table">@tem.medicina</td>
                        <td id="table">@tem.fecha</td>
                        <td id="table">@Html.ActionLink("Actualizar", "actualizar", new { id = tem.cedula })</td>
                        <td id="table">@Html.ActionLink("Eliminar", "detalleEliminar", new { id = tem.cedula })</td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
